@import "tailwindcss";

@theme {
  --color-primary: #1668dc;
}

:root {
  --tw-border-color: red;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}